@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.link-scroll::-webkit-scrollbar {
  height: 7px;
  z-index: 100;
}

.link-scroll::-webkit-scrollbar-track {
  background: #e4e4e7;
}

.link-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #c3c3c7;
}

.link-scroll::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}

.dashboard-scroll::-webkit-scrollbar {
  height: 13px;
  width: 13px;
  z-index: 100;
}

.dashboard-scroll::-webkit-scrollbar-track {
  background: #e4e4e7;
}

.dashboard-scroll::-webkit-scrollbar-thumb {
  background: #c3c3c7;
}

.dashboard-scroll::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}

.circular {
  font-family: var(--circular-font);
}
