@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.link-scroll::-webkit-scrollbar {
  height: 7px;
  z-index: 100;
}

.link-scroll::-webkit-scrollbar-track {
  background: #e4e4e7;
}

.link-scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #d4d4d8;
  rounded: 50px;
}

.link-scroll::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}
